.container_regular,
.container_middle {
  @media screen and (max-width: 576px) {
    padding: 0 44px;
  }

   @media screen and (max-width: 440px) {
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .container_regular
  .container_middle {
    padding: 0 56px;
  }

  .case {
    &_title_h2 {
      @include title($text-color--black-oil, 25.63px, -0.034em);
    }

    &_title_h3 {
      @include title($text-color--black-oil, 22.78px, -1px);
    }

    &_title_h4,
    &_title_h5 {
      @include title($text-color--black-oil, 20.25px, -1px);
    }

    &_link {
      @include default-text($text-color--black-oil, 16px, 150%, -0.02em, normal);
    }
  }
}
