.case--sjmc {
  .case {
    &_header::before {
      background-color: $bgcolor--black-opacity-07;
    }

    &_sjmc-logo {
      width: 242px;
      height: 110px;
      margin-left: 177px;
      margin-top: -95px;
    }

    &_play-button {
      z-index: 1;
      display: flex;
      align-items: center;
      margin-top: 59px;
      padding: 0;
      border: 0;
      background: none;
      @include default-text($text-color--white-primary, 13px, 166%, -0.02em, normal);
      cursor: pointer;
    }

    &_play-icon {
      width: 14px;
      height: 14px;
      margin-right: 16px
    }

    &_column-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 40px;

      @media screen and (max-width: 790px) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 25px;
      }
    }

    &_full-screen-img,
    &_full-screen-slider {
      max-width: 1440px;
    }

    &_mobile-break {
      display: none;
    }

    @media screen and (max-width: 1250px) {
      &_sjmc-logo {
        margin-left: 102px;
      }
    }

    @media screen and (max-width: 1170px) {
      &_sjmc-logo {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 38px;
      }
    }

    @media screen and (max-width: 1024px) {
      &_play-button {
        display: none;
      }
    }

    @media screen and (max-width: 655px) {
      &_sjmc-logo {
        width: 143px;
        height: 65px;
        margin-bottom: 35px;
      }
    }

    @media screen and (max-width: 420px) {
      &_mobile-break {
        display: block;
      }
    }

    @media screen and (max-width: 370px) {
      &_sjmc-logo {
        margin-bottom: 25px;
      }
    }
  }
}
