// TEXT SLICES GLOBAL CLASSES
.text-slice {
  &__title-h5 {
    @include font('Inter', 33.2px, 600);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.04em;
  }

  &__simple-text-medium {
    @include font('Inter', 17px, 400);
    line-height: 166%;
    letter-spacing: -0.035em;
  }

  @media screen and (max-width: 768px) {
    &__title-h5 {
      font-size: 22px;
      line-height: 30%;
      letter-spacing: -0.01em;
    }

    &__simple-text-medium {
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.4px;
    }
  }

  @media screen and (max-width: 375px) {
    &__title-h5 {
      font-size: 17px;
      line-height: 141%;
      letter-spacing: -1px;
    }
  }
}
// END OF TEXT SLICE GLOBAL CLASSES