@import "../UI/styles/styleFormElements.module";

.ebook-form {
  * {
    box-sizing: border-box;
  }

  width: 100%;

  &__title {
    max-width: 595px;
  }

  &__subtitle {
    @include font('Inter', 16px, 400);
    line-height: 26px;
    letter-spacing: -1px;
    color: #111;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  &__input-group {
    display: flex;
    gap: 12px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    .form-field__wrapper {
      width: 100%;

      .form-field {
        width: 100%;
      }
    }
  }

  &__input-root-wrapper {
    width: 100%;
  }

  &__checkbox {
    .form-checkbox-component__label {
      font-size: 14px;
      color: $text-color--grey-opacity-40-percent;

      @media screen and (max-width: 455px) {
        align-items: flex-start;

        .form-checkbox-component__checkmark {
          margin-top: 3px;
        }
      }
    }
  }

  &__privacy-policy {
    margin-top: 16px;
    font-size: 12px;
    color: $text-color--grey-opacity-40-percent;
    text-align: center;
  }

  &__input-group {
    margin-bottom: 24px;
  }
}
