// ---------- Background  ------------ //
$bgcolor--cultured: #F5F7F9;
$bgcolor--chinese-white: #e0e0e0;
$bgcolor--venetian-red: #EC1C24;
$bgcolor--philippine-gray: #8A8A8A;
$bgcolor--eerie-black: #191A1B;
$bgcolor--grey-selected: #707072;
$bgcolor--chinese-black: #111111;
$bgcolor--venetian-red: #ec1c24;
$bgcolor--quote-box: #404143;
$bgcolor--black-primary: #000000;
$bgcolor--apple: #62ba56;
$bgcolor--steel-blue: #3094ab;
$bgcolor--carnelian: #b11218;
$bgcolor--gainsboro: #dadada;
$bgcolor--spanish-gray: #938f95;
$bgcolor--fire-engine-red: #c21c22;
$bgcolor--maximum-red: #d41e24;
$bgcolor--white: #f5f7f9;
$bgcolor--white-primary: #ffffff;
$bgcolor--white-transparent: rgba(245, 247, 249, 0.5);
$bgcolor--black: #111213;
$bgcolor--black-oil: #101113;
$bgcolor--black-pale: #1d1d1f;
$bgcolor--black-light: #ffffff1a;
$bgcolor--black-lighten: #222222;
$bgcolor--black-lighten-pale: #202020;
$bgcolor--grey: #96969c;
$bgcolor--grey-hover: #36383A;
$bgcolor--grey-light: #f2f2f2;
$bgcolor--grey-pale: #c4c4c4;
$bgcolor--grey-dark: #f4f5f7;
$bgcolor--grey-cases: #d7dde1;
$bgcolor--grey-extra-dark: #e7e7e7;
$bgcolor--grey-opacity-40-percent: #a0a0a1;
$bgcolor--red: #ec1c24;
$bgcolor--red-extra-dark: #970d12;
$bgcolor--purple-blue: #5159f6;
$bgcolor--green: #0a8f37;
$bgcolor--bright-green: #00c05b;
$bgcolor--project-white: #f8f7f6;
$bgcolor--project-indigo: #56448e;
$bgcolor--project-blue: #0e1b27;
$bgcolor--orange: #f24e1e;
$bgcolor--project-orange: #ff6a01;
$bgcolor--white-darken: #fcfcfd;
$bgcolor--pink: #cc0a6a;
$bgcolor--silver: #f4f4f4;
$bgcolor--gold: #b19a5a;
$bgcolor--yellow: #f7c744;
$bgcolor--black-opacity-1: rgba(0, 0, 0, 1);
$bgcolor--black-opacity-07: rgba(0, 0, 0, 0.7);
$bgcolor--yourcast-banner: linear-gradient(90deg, #121844 0%, #3F0C40 99.31%);
$bgcolor--skeleton-gradient-dark: linear-gradient(90deg, rgba(48, 50, 54, 0.7), #131010 0%, rgba(48, 50, 54, 0.7) 20%, rgba(48, 50, 54, 0.7) 60%, #131010 100%);
$bgcolor--skeleton-gradient-light: linear-gradient(90deg, #ffffff 0%, #efeff4 30%, #ffffff 100%);
$bgcolor--sound-control: rgba(64, 65, 67, 0.5);
$bgcolor--header-gradient: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.991353) 6.67%, rgba(0, 0, 0, 0.96449) 13.33%, rgba(0, 0, 0, 0.91834) 20%, rgba(0, 0, 0, 0.852589) 26.67%, rgba(0, 0, 0, 0.768225) 33.33%, rgba(0, 0, 0, 0.668116) 40%, rgba(0, 0, 0, 0.557309) 46.67%, rgba(0, 0, 0, 0.442691) 53.33%, rgba(0, 0, 0, 0.331884) 60%, rgba(0, 0, 0, 0.231775) 66.67%, rgba(0, 0, 0, 0.147411) 73.33%, rgba(0, 0, 0, 0.0816599) 80%, rgba(0, 0, 0, 0.03551) 86.67%, rgba(0, 0, 0, 0.0086472) 93.33%, rgba(0, 0, 0, 0) 100%);
$bgcolor--blue: #137bce;
$bgcolor--blue-veeqo: #268bdc;
$bgcolor--dark-purple06-opacity: rgba(45, 25, 86, 0.6);
$bgcolor--dark-purple05-opacity: rgba(45, 25, 86, 0.5);
$bgcolor--dark-purple04-opacity: rgba(45, 25, 86, 0.4);
$bgcolor--button-blue: #1DA5FC;
$bgcolor--purple: #9963f6;
$bgcolor--blue-green: #099fbc;
$bgcolor--lotion: #fafafa;

// ---------- Text ------------ //
$text-color--philippine-gray: #8A8A8A;
$text-color--venetian-red: #EC1C24;
$text-color--dark-gray: #aaaaaa;
$text-color--grey-20-percent: #cfcfd0;
$text-color--ruddy: #ff0029;
$text-color--chinese-black: #111111;
$text-color--chinese-black07-opacity: rgba(17, 17, 17, 0.6);
$text-color--spanish-gray: #938f95;
$text-color--cultured: #f4f4f4;
$text-color--auroMetalSaurus: #6d7a7d;
$text-color--white: #f5f7f9;
$text-color--white-primary: #ffffff;
$text-color--gainsboro: #dddddd;
$text-color--white-darken: #fcfcfd;
$text-color--white-transparent: rgba(255, 255, 255, 0.7);
$text-color--white07-opacity: rgba(255, 255, 255, 0.6);
$text-color--black: #000000;
$text-color--black-oil: #101113;
$text-color--quote-box: #404143;
$text-color--black-lighter: #111213;
$text-color--black-pale: #1d1d1f;
$text-color--grey: #96969c;
$text-color--grey-light: #f2f2f2;
$text-color--grey-opacity-20-percent: #cfcfd0;
$text-color--grey-pale: #707072;
$text-color--grey-matterhorn:#4b4b4b;
$text-color--red: #ec1c24;
$text-color--red-dark: #dc251c;
$text-color--red-extra-dark: #970d12;
$text-color--yellow: #f7c744;
$text-color--purple: #9963f6;
$text-color--green: #0a8f37;
$text-color--green-light: #00c05b;
$text-color--green-pale: #14c94d;
$text-color--red-opacity: rgba(236, 28, 36, 0.5);
$text-color--grey-form-placeholder: #6e6e73;
$text-color--grey-opacity-40-percent: #a0a0a1;
$text-color--tech-label-black: #232323;
$text-color--grey-img-description: #a4a8b4;
$text-color--silver: #f4f4f4;
$text-color--blue: #5159F6;
$text-color--blue-pale: #137bce;
$text-color--blue-itc-case: #4154b3;
$text-stroke--white: 1.5px #f2f2f2;
$text-stroke--red: 1.5px #ec1c24;
$text-color--light-silver: #D9D9D9;
$text-color--grey-silver: #36383A;

// ---------- Border ------------ //
$border-color--venetian-red: #EC1C24;
$border-color--grey: #96969c;
$border-color--grey-pale: #404143;
$border-color--grey-selected: #707072;
$border-color--black: #111213;
$border-color--white: #ffffff;
$border-color--grey-light: #e8e8e8;
$border-color--red: #ec1c24;
$border-color--blue: #5159F6;
$border-color--green: #0a8f37;
$border-color--red-opacity: rgba(236, 28, 36, 0.5);
$border-color--grey-dark-transparent: rgba(150, 150, 156, 0.2);
$border-color--grey-light: #f2f2f2;
$border-color--grey-dark: #3b3b3b;
$border-color--grey-form: #333333;
$border-color--grey-cases: #d7dde1;
$border-color--grey-careers-page: #c4c4c4;
$border-color--grey-20-percent: #cfcfd0;
$border-color--grey-opacity-40-percent: #a0a0a1;
$border-color--grey-process-tabs-dark-theme: #404143;
$border-color--silver: #f4f4f4;
$border-color--grey-footer: #a4a8b4;
$border-color--grey-01-opacity: rgba(160, 160, 161, 0.1);
$border-color--grey-02-opacity: rgba(160, 160, 161, 0.2);
$border-color--grey-05-opacity: rgba(164, 168, 180, 0.5);
$border-color--white-02-opacity: rgba(255, 255, 255, 0.2);
$border-color--white-002-opacity: rgba(255, 255, 255, 0.02);
$border-color--white-03-opacity: rgba(255, 255, 255, 0.3);
$border-color--grey-input: #404143;
$border-color--black-border-03-opacity: rgba(16, 17, 19, 0.3);
$border-color--black-border-05-opacity: rgba(16, 17, 19, 0.5);
$border-color--platinum: #E5E5E5;

// ---------- Border radius ------------ //
$form-border-radius: 7px;
$form-border-radius-6: 6px;
$form-border-radius-4: 4px;
$form-border-radius-2: 2px;

// ---------- Custom scroll ----------- //
$black02: rgba(0, 0, 0, 0.2);
$white-02: rgba(255, 255, 255, 0.2);

// ---------- Input ------------ //
$input-bgcolor--grey-dark: #121212;
$input-bgcolor--white: #ffffff;
$input-bgcolor--grey-light: rgba(150, 150, 156, 0.2);
$input-invalid--bg: rgba(236, 28, 36, 0.2);
$input-placeholder-text--grey-dark: rgba(150, 150, 156, 0.5);
$input-color--grey:#404143;
$input-checkmark-bg: #1e1e1f;

// ---------- Project page hover colors ------------ //
$project-hover-bg-color--blue-dimmed: #5163f0;
$project-hover-bg-color--blue: #001dff;
$project-hover-bg-color--blue-light: #0027e7;
$project-hover-bg-color--blue-soft: #00aaff;
$project-hover-bg-color--black: #000000;
$project-hover-bg-color--dark: #2b2527;
$project-hover-bg-color--violet: #6d4be5;
$project-hover-bg-color--pink: #f70259;
$project-hover-bg-color--pink-dimmed: #ff005b;
$project-hover-bg-color--pink-soft: #ffadca;
$project-hover-bg-color--white: #ffffff;

// ---------- Button ------------ //
$button-bgcolor--red: #ec1c24;
$button-active--red: #ca1920;
$button-active-border--red: #ca1920;
$button-border--white-opacity: rgba(255, 255, 255, 0.5);

// ---------- Footer specific colors ------------ //
$footer--text-decoration-color: rgba(196, 196, 196, 0.3);
$footer--border-color--grey-light: rgba(196, 196, 196, 0.3);

// ---------- Header specific colors ------------ //
$header-red-border-color: rgba(236, 28, 36, 0.5);
$header-grey-border-color: rgba(164, 168, 180, 0.4);

// ---------- Modal ------------ //
$modal-overlay-bg-color: #0d0d0dc7;
$modal-bg-color: #121212;
$modal-bg-color-white: #ffffff;
$modal-entry-field-bg: #403838;

// ---------- Other ------------ //
$label-text--grey-dark: rgba(150, 150, 156, 0.7);
$slider-dots-bg-color-white: #eff3f6;
$slider-dots-bg-color-black: #000000;
$quick-project-description-color: #c5c3cc;
$remote-tech-staff-sub-title-grey: #d7dde1;
$software-icon-text-color: #a4a8b4;
$software-icon-background: #eef0f2;
$our-valued-icon-background: #191A1B;
