.title {
  position: relative;

  &-text {
    width: 100%;
    display: block;
    color: inherit;
    letter-spacing: -0.013em;

    // Positions
    &--left {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      > * {
        text-align: left;
      }
    }

    &--center {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      > * {
        text-align: center;
      }
    }

    &--right {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      > * {
        text-align: right;
      }
    }
  }

  // Sizes
  &--text-size-xl {
    @include font-sizes-title();
  }

  &--text-size-lg {
    @media screen and (max-width: 1440px) {
      @include font-sizes-title();
    }
  }

  &--text-size-md {
    @media screen and (max-width: 1200px) {
      @include font-sizes-title();
    }
  }

  &--text-size-sm {
    @media screen and (max-width: 1024px) {
      @include font-sizes-title();
    }
  }

  &--text-size-xs {
    @media screen and (max-width: 768px) {
      @include font-sizes-title();
    }
  }
}
