.text-list-slice {
  background: #fff;
  color: #111;

  &__container {
    max-width: 817px;
  }

  &__title {
    @include font('Inter', 28px, 700);
    line-height: 32px;
    letter-spacing: -1px;
    color: #232323;
    margin-bottom: 24px;
    @media screen and (max-width: 768px) {
      font-size: 26px;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: -0.04em;
    }
  }

  &__list {
    list-style: disc inside;
    &-item {
      padding: 16px 16px 16px 26px;
      margin: 0 0 16px 0;
      border-radius: 8px;
      background-color: #f4f4f4;
      @include font('Inter', 17px, 400);
      line-height: 166%;
      letter-spacing: -0.035em;
      &:last-child {
        margin-bottom: 0;
      }

      &--two-columns {
        width: 42%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        &:last-child {
          margin-bottom: 16px;
        }
      }
    }

    &--two-columns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}


